@font-face{
	font-family: "myriad-pro-bold";
	srs: url('../fonts/MyriadPro-Bold.otf');
}
@font-face{
	font-family: "myriad-pro-boldcond";
	src: url('../fonts/MyriadPro-BoldCond.otf');
}
@font-face{
	font-family: "myriad-pro-boldcondit";
	src: url('../fonts/MyriadPro-BoldCondIt.otf');
}
@font-face{
	font-family: "myriad-pro-boldit";
	src: url('../fonts/MyriadPro-BoldIt.otf');
}
@font-face{
	font-family: "myriad-pro-cond";
	src: url('../fonts/MyriadPro-Cond.otf');
}
@font-face{
	font-family: "myriad-pro-condit";
	src: url('../fonts/MyriadPro-CondIt.otf');
}
@font-face {
	font-family: "myriad-pro-it";
	src: url('../fonts/MyriadPro-It.otf');
}
@font-face {
	font-family: "myriad-pro-regulat";
	src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
	font-family: "myriad-pro-semibold";
	src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face {
	font-family: "myriad-pro-semiboldit";
	src: url('../fonts/MyriadPro-SemiboldIt.otf');
}

body,html{
	padding: 0 !important;
	margin: 0 !important;
}
.col-lg-4{
	min-height: 0 !important;
}
/* about page */
.about{
	background-color: #f3f3f3;
	.about-title{
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 4rem;
	}
	.about-main__header{
		margin-top: 4rem;
		background-color: #FAFAFA;
		.about__wrapper-header{
			display: flex;
			padding: 2.5rem 1rem 1rem 1rem ;
			.about__image{
				background-color: #f3f3f3;
				padding:4rem;
				height: 5rem;
				border-radius: 50%;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					position:absolute;
				}

			}
			.about__text{
				font-size: 15px;
				color: #464646;
				font-weight: 700;
				padding-left: 1rem;
				.text__about{
					font-weight: 400;
					font-size: 13px;
				}
			}
		}
	}
	.about-main__body{
		.about-main__body-title{
			font-size: 23px;
			text-align:center;
			padding-top: 3.5rem;
			color: #218ca7;
			font-weight: 700;
			text-transform: uppercase;
		}
		.about-main__body-text{
			color: #464646;
			line-height: 18px;
			font-weight: 400;
			padding-top:3rem;
			padding-bottom: 11rem;
			span{
				display: block;
				text-indent: 3.5rem;
			}
		}
	}
}
@media only screen and (max-width: 576px){
	.about .about-title{
		padding-top: 8rem;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.about .about-main__header .about__wrapper-header{
		display: flex;
		flex-direction: column;
		align-items:center;
	}
	.about .about-main__header .about__wrapper-header .about__image{
		height: 0;
		width: 0;
	}
	.about .about-main__header .about__wrapper-header .about__text{
		text-align: center;
		padding-top: 1rem;
	}
	.about .about-title{
		padding-top: 12rem;
	}
}
/* end about page */

/* delivery page */
.delivery{
	background-color: #f3f3f3;
	.delivery-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.delivery-main__header{
		margin-top: 4rem;
		.delivery__wrapper-header{
			display: flex;
			padding: 2.5rem 1rem 1rem 1rem ;
			.delivery__text{
				font-size: 15px;
				color: #464646;
				font-weight: 700;
				padding-left: 1rem;
				.text__delivery{
					font-weight: 400;
					font-size: 13px;
				}
			}
		}
	}
	.delivery-main__body{
		padding-bottom: 10rem;
		.delivery-main__body-title{
			font-size: 23px;
			color: #218ca7;
			font-weight: 700;
			text-transform: uppercase;
			text-align:center;
			padding-top: 3rem;
		}
		img{
			padding-top: 3.5rem;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.delivery .delivery-main__header .delivery__wrapper-header{
		display: flex;
		flex-direction: column;
		align-items:center;
	}
	.delivery .delivery-main__header .delivery__wrapper-header .delivery__text{
		text-align: center;
		padding-top: 1rem;
	}
	.delivery .delivery-main__body img{
		width: 100%;
	}
	.delivery .delivery-title{
		padding-top: 12rem;
	}
}
@media only screen and (max-width: 576px){
	.delivery .delivery-main__body img{
		width: 100%;
	}
	.delivery .delivery-title{
		padding-top: 8rem;
	}
}
/* end delivery page */

/* home page */
.desktop-header{
	z-index:999999;
	.top-header{
		background-color: #25A0BF;
		ul{
			display: flex;
			flex-direction: row;
			justify-content:flex-end;
			li{
				a{
					color: #fff;
					padding: .5rem 1rem;
					font-size: 	15px;
				}
			}
		}
	}
	.medium-header{
		background-color: #fff;
		.header-wrapper-right{
			.header-wrapper-right-contact{
				padding:0;
				.header-contact-location{
					display: flex;
					padding:0;
					img{
						height: 4rem;
						margin: 1rem;
					}
					.wrapper-location{
						a:hover{
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
				.header-contact-phone{
					padding:0;
					display: flex;
					align-items:center;
					ul{
						li{
							a{
								padding:0;
							}
						}
					}
				}
			}
			.header-wrapper-right-link{
				ul{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					li{
						a{
							color: #000;
							font-weight: 700;
							text-transform: uppercase;
						}
						.open-menu__block{
							display: flex;
							flex-direction: column;
							background-image: url(../images/menu-bg.png);
							position: absolute;
							z-index: 999;
							width: 15rem;
							li{
								text-align: center;
								a{
									font-size: 13px;
								}
								a:hover{
									color: #fff;
								}
							}
						}
						.active:hover{
							background-image: url(../images/menu-bg.png);
						}
					}
					.active-item:hover{
						background-image: url(../images/menu-bg.png);
					}

				}
			}
		}
		.header-logo{
			display: flex;
			justify-content: center;
			box-shadow: 0px 0px 15px #999;
			background-color: #fff;
			border-radius: 0 0 1rem 1rem;
			position:absolute;
			z-index: 99;
			img{
				padding:3rem 4rem;
			}
		}
		.header-wrapper-left{
			.header-wrapper-left-contact{
				padding:0;
				.header-contact-callback{
					display: flex;
					padding:0;
					img{
						height: 4rem;
						margin: 1rem;
					}
					.wrapper-callback{
						margin: auto 0;
						a{
							font-size: 15px;
							text-decoration: underline;
						}
						small{
							font-size: 10px;

						}
					}
				}
				.header-contact-search{
					margin: auto 0;
					form{
						position:relative;
						button{
							position:absolute;
							background: transparent;
							border:0;
							top: .3rem; right: 0;
							:hover{
								cursor: pointer;
							}
							.active-img{
								position:absolute;
								left: 7rem;
								top: .1rem;
							}
						}
						.active-search{
							width: 13rem;
						}
						.btn-close{
							position: absolute;
							left: 15.5rem;
							top: -.05rem;
							background-color: #25A0BF;
							color: #fff;
						}
						.btn-close:hover{
							color: #25A0BF;
							background-color: #fff;
							border:1px solid #25A0BF;
						}
					}
				}
			}
			.header-wrapper-left-link{
				ul{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					li{
						a{
							color: #000;
							font-weight: 700;
							text-transform:uppercase;
						}
					}
				}
				.active{
					position: absolute;
					bottom: 0;
					li{
						a{
							margin: 0 1rem;
						}
					}
				}
			}
		}
	}
}
.advantages{
	.advantages-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.advantages-card{
		margin-top: 4rem;
		.advantages__wrapper{
			padding: 2.5rem 1rem 1rem 1rem ;
			.advantages__image{
				background-color: #f3f3f3;
				padding:4rem;
				height: 5rem;
				width:5rem;
				margin: 0 auto;
				border-radius: 50%;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					position:absolute;
				}

			}
			.advantages__text{
				font-size: 15px;
				color: #898989;
				font-weight: 700;
				padding-top: 1rem;
			}
		}
	}
}
.home-product-card{
	padding-bottom: 4rem;
	.home-product-card__title{
		padding-top: 4rem;
		font-size: 23px;
		text-align: center;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.popular-card-home{
		.card{
			position:relative;
			border: 1px solid #fbdc0e;
			margin-top: 2rem;
			.card-price{
				background-image: url(../images/price.png);
				background-repeat: no-repeat;
				position: absolute;
				left:-1.5rem; top: 0;
				width:10rem;
				display: flex;
				justify-content: center;
				align-items:center;
				p{
					font-weight: 700;
				}
			}
			img{
				width: 100%;
				padding-top: 2rem;
			}
			.card-body{
				.title{
					text-align: center;
				}
				.card-text{
					padding:0;
					height: 4rem;
					overflow-y: hidden;
				}
				.btn{
					display: block;
					text-align: center;
					border:1px solid #26A0BF;
					color: #fff;
					background-color: #26A0BF;
					width: 100%;
					margin-top: .5rem;
				}
				.btn:hover{
					background-color: #fff;
					color: #26A0BF;
				}
			}
		}
	}
	.card-home-carousel{
		position: relative;
		.custom-dots{
			position:absolute;
			bottom:0;
			display: flex;
			z-index:99;
			padding-left:17rem;
			li{
				width:1rem;
				height: 1rem;
				border-radius:50%;
				color:#0A6B83;
			}
			li:hover{
				cursor: pointer;
			}
			.active{
				color: #FBDC0E;
			}
		}
		.card-carousel{
			.card-carousel-wrapper{
				background-color: #2396B3;
				width: 100%;
				min-height: 10rem;
				border-radius: 10px;
				padding: 3.2rem 1rem;
				margin-top: 8.1rem;
				.card-carousel-title{
					color: #e2e2e2;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 25px;
					padding-left: 1rem;
				}
				.card-carousel-price{
					p{
						background-clip: text;
						color: #fbdc0e;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 40px;
						padding: 0;
						padding-left: 1rem;
					}
					span{
						text-decoration: line-through;
						color: #fff;
						font-weight: 700;
						font-size: 20px;
						text-transform: uppercase;
						padding:0;
						padding-left: 4rem;
					}
				}
				img{
					width: 15rem;
					padding-left: 1rem;
				}
				.card-carousel-text{
					color: #fff;
					font-size: 15px;
					padding-left: 1rem;
				}
				a{
					color: #fff;
					text-decoration: underline;
					padding-left:1rem;
				}
				.card-carousel-left-img{
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
@media only screen and (max-width: 576px){
	.home-product-card .card-home-carousel .custom-dots{
		display: none;
	}
	.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper img{
		padding-top: 4rem;
	}
	.video-client .card{
		margin-top: 2rem;
	}
	.partners .partners-card{
		display: flex;
		justify-content: center;
	}
	footer .footer-contact-right{
		padding-bottom: 3rem;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.home-product-card .card-home-carousel .custom-dots{
		display: none;
	}
	.video-client .card{
		margin-top: 2rem;
	}
	.partners .partners-card{
		display: flex;
		justify-content: center;
	}
}
.video-client{
	background-image: url(../images/homevideobg.png);
	background-position: center;
	background-size: cover;
	padding-bottom: 3rem;
	.video-client-title{
		padding-top: 4rem;
		padding-bottom:2rem;
		font-size: 23px;
		margin: 0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.home-news{
	.home-news-title{
		padding-top: 4rem;
		padding-bottom:2rem;
		font-size: 23px;
		margin: 0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.home-news-card{
		.card{
			border:0;
			margin-top: 3rem;
			img{
				width: 100%;
			}
			.card-body{
				.card-title{
					font-size: 18px;
					font-weight: 700;
				}
				.btn{
					padding:0;
					color:#25A0BF;
					font-weight: 700;
				}
				.card-text{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.btn:hover{
					border-bottom: 1px dashed #25A0BF;
				}
			}
		}
		padding-bottom: 4rem;
	}
	.more-btn{
		background-color: #26A0BF;
		color: #fff;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 10rem;
		border:1px solid #26A0BF;
	}
	.more-btn:hover{
		background-color: #fff;
		color: #26A0BF;
	}
}
.partners{
	padding-bottom: 4rem;
	.partners-title{
		padding-top: 4rem;
		padding-bottom:2rem;
		font-size: 23px;
		margin: 0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.partners-carousel{
		.partners-card{
			img{
				border:2px solid #FBDC0E;
				border-radius: 5px;
				width:10rem;
				padding:1rem;
			}
		}
	}
}
@media only screen and (max-width: 576px){
	.header-wrapper-right{
		display: none;
	}
	.header-wrapper-left{
		display: none;
	}
	.header-logo-media{
		display: flex;
		justify-content: center;
		.header-logo{
			img{
				padding:1rem !important;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.header-wrapper-right{
		display: none;
	}
	.header-wrapper-left{
		display: none;
	}
	.header-logo-media{
		display: flex;
		justify-content: center;
	}
}
.login{
	.modal-body{
		form{
			button{
				width: 100%;
				border:1px solid #25A0BF;
				background-color: #25A0BF;
				color: #fff;
			}
			button:hover{
				background-color: #fff;
				color: #25A0BF;
			}
		}
	}
}
.signin{
	.modal-body{
		form{
			button{
				width: 100%;
				border:1px solid #25A0BF;
				background-color: #25A0BF;
				color: #fff;
			}
			button:hover{
				background-color: #fff;
				color: #25A0BF;
			}
		}
	}
}
.callback{
	.modal-body{
		form{
			button{
				width: 100%;
				border:1px solid #25A0BF;
				background-color: #25A0BF;
				color: #fff;
			}
			button:hover{
				background-color: #fff;
				color: #25A0BF;
			}
		}
	}
}
/* end home page */

/* main banner */
.main-banner{
	.main-banner-slide1{
		background-image: url(../images/banner-img.jpg);
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		height: 480px;
		.banner-text{
			margin-top: 10rem;
			a{
				background-color: #2E9FBB;
				color: #fff;
				position: absolute;
				top: 8rem;
				padding: 1rem 3rem;
				font-size: 18px;
				font-weight: 700;
				right: 3rem;
			}
			p{
				background-image: url(../images/menu-bg.png);
				font-size: 	25px;
				padding: 2rem 1rem;
				font-weight: 700;
			}
		}
	}
	.main-banner-slide2{
		background-image: url(../images/banner-img2.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 480px;
		.banner-text{
			margin-top: 10rem;
			a{
				background-color: #2E9FBB;
				color: #fff;
				position: absolute;
				top: 8rem;
				padding: 1rem 3rem;
				font-size: 18px;
				font-weight: 700;
				right: 3rem;
			}
			p{
				background-image: url(../images/menu-bg.png);
				font-size: 	25px;
				padding: 2rem 1rem;
				font-weight: 700;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.main-banner .main-banner-slide1 .banner-text{
		margin-top: 16rem;
	}
	.main-banner .main-banner-slide1 .banner-text a{
		position: absolute;
		top: 14rem
	}
	.main-banner .main-banner-slide2 .banner-text a{
		pointer:absolute;
		top: 14rem;
	}
	.main-banner .main-banner-slide2 .banner-text{
		margin-top: 16rem;
	}
}
/* end banner */


/* footer */
footer{
	.top-footer{
		background-color: #157C96;
		a{
			color: #fbdc0e;
			font-size: 25px;
			text-transform: uppercase;
			text-decoration: underline;
			font-weight: 700;
			padding-top: .5rem;
		}
		p{
			color: #fff;
			font-size: 17px;
		}
	}
	.medium-footer{
		background-color: #218CA7;
		.footer-catalog-title{
			font-size: 18px;
			color: #fff;
			padding-top: 1rem;
		}
		.catalog-tab-link{
			li{
				a{
					color: #fff;
					font-size: 18px;
				}
			}
		}
		.footer-copy{
			color:#484848;
			padding-top:1.5rem;
		}
		.catalog-tab-link-middle{
			padding-top: 1rem;
			li{
				a{
					color: #fff;
					font-size: 18px;
				}
				a:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.footer-contact{
		p{
			color: #fff;
			font-size: 18px;
			padding-top: 1rem;
		}
		a{
			color: #fff;
		}
	}
}
@media only screen and (max-width: 576px){
	footer .medium-footer .catalog-tab-link-middle{
		text-align: center;
	}
	footer .footer-contact{
		text-align: center;
	}
	footer .medium-footer .footer-copy{
		text-align: center;
	}
}
/* end footer */

/* news */
.news{
	z-index:9;
	background-color: #f3f3f3;
	.news-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.main-body-news{
		.card{
			border:0;
			margin-top: 3rem;
			img{
				width: 100%;
			}
			.card-body{
				.card-title{
					font-size: 18px;
					font-weight: 700;
				}
				.btn{
					padding:0;
					color:#25A0BF;
					font-weight: 700;
				}
				.card-text{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.btn:hover{
					border-bottom: 1px dashed #25A0BF;
				}
			}
		}
		padding-bottom: 4rem;
	}	
}
@media only screen and (max-width: 576px){
	.news{
		.news-title{
			padding-top: 8rem;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.news{
		.news-title{
			padding-top: 12rem;
		}
	}
}
/* end news */

/* services */
.services{
	.services-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.services-text{
		font-weight: medium;
		padding-top: 2rem;
	}
	.services-main__header{
		margin-top: 4rem;
		padding-bottom: 3rem;
		.services__wrapper-header{
			padding: 2.5rem 1rem 1rem 1rem ;
			.services__image{
				background-color: #f3f3f3;
				padding:4rem;
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				img{
					position:absolute;
				}

			}
			.services__text{
				font-size: 15px;
				color: #464646;
				font-weight: 700;
				padding-top: 1rem;
				.text__services{
					font-weight: 400;
					font-size: 13px;
				}
			}
		}
	}
}
@media only screen and (max-width: 576px){
	.services{
		.services-title{
			padding-top: 8rem;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.services{
		.services-title{
			padding-top: 12rem;
		}
	}
}
/* end services */

/* contact */
.contact{
	background-color: #f3f3f3;
	.contact-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.contact-info{
		padding-bottom: 4rem;
	}
}
@media only screen and (max-width: 576px){
	.contact{
		.contact-title{
			padding-top: 8rem;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.contact{
		.contact-title{
			padding-top: 12rem;
		}
	}
}
/* end contact */

/* instrumenti */
.instrumenti{
	min-height: 30rem;
	background-color: #f3f3f3;
	.main-body-instrumenti{
		padding-top:4rem;
		padding-bottom: 9rem;
	}
	.instrumenti-title{
		padding-top: 4rem;
		font-size: 23px;
		margin:0 auto;
		color: #218ca7;
		font-weight: 700;
		text-transform: uppercase;
	}
	.left-bar{
		background-image: url(../images/menu-bg.png);
		background-size:cover;
		background-position: center;
		border-radius: 10px;
		padding: 1rem 2rem;
		li{
			a{
				color: #000;
				font-weight: 700;
			}
			a:focus{
				color: #fff;
			}
			.left-bar-open{
				padding-left: 4rem;
				li{
					list-style-type: decimal-leading-zero;
					a{
						padding:0;
					}
					a:hover{
						color: #fff;
					}
				}
			}
		}
	}
	.card{
		position:relative;
		border: 1px solid #fbdc0e;
		margin-top: 2rem;
		.card-price{
			background-image: url(../images/price.png);
			background-repeat: no-repeat;
			position: absolute;
			left:-1.5rem; top: 0;
			width:10rem;
			display: flex;
			justify-content: center;
			align-items:center;
			p{
				font-weight: 700;
			}
		}
		img{
			width: 100%;
			padding-top: 2rem;
		}
		.card-body{
			.title{
				text-align: center;
			}
			.card-text{
				padding:0;
				height: 4rem;
				overflow-y: hidden;
			}
			.btn{
				display: block;
				text-align: center;
				border:1px solid #26A0BF;
				color: #fff;
				background-color: #26A0BF;
				width: 100%;
				margin-top: .5rem;
			}
			.btn:hover{
				background-color: #fff;
				color: #26A0BF;
			}
		}
	}
	.instrumenti-card-body{
		padding-bottom: 9rem;
	}
}
@media only screen and (max-width: 576px){
	.instrumenti .instrumenti-title{
		padding-top: 9rem;
	}
}
/* end instrumenti */

/* more card info */
.more-card{
	background-color: #f3f3f3;
	padding-bottom: 9rem;
	.more-card-header{
		padding-top: 7rem;
		border-bottom: 1px solid #F0F0F0;
		.more-card-header-left{
			p{
				font-weight: 700;
				font-size: 18px;
				letter-spacing:.3px;
			}
			.card{
				img{
					width: 100%;
					padding: 2rem 1rem;
				}
			}
		}
		.more-card-header-right{
			padding: 3rem 1rem;
			p{
				font-weight: 700;
			}
			.btn{
				background-color: #26A0BF;
				color: #fff;
				border-radius: 20px;
				border:1px solid #26A0BF;
				padding: .5rem 3rem;
			}
			.btn:hover{
				background-color: #fff;
				color: #26A0BF;
			}
		}
	}
	.more-card-body{
		padding-top: 2rem;
		.font-bold{
			font-weight: 700;
			padding-top: 1rem;
		}
	}
}
/* end more card info */


/* burger menu */

.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
    content: "";
    width: 15px;
    height: 10px;
    background: url(/pictures/ico-str00.png) center center no-repeat;
    display: block;
    position: absolute;
    right: 20%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; }
.drawer-list {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    transform: translate(-100vw, 0);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
    box-sizing: border-box;
    pointer-events: none;
    padding-top: 95px;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
    border-bottom-right-radius: 100vw;
    background-color: #2E9FBB;
    background-color: #2E9FBB;
    border-right:1px solid #fff;
}
@media (min-width: 768px) {
    .drawer-list {
        width: 40vw;
    }
}
.drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
}
.drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
    margin-bottom: 1em;
}
.drawer-list li a {
    text-decoration: none;
    color: #FEFEFE !important;
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: calc(24px - .5vw);
    font-weight: 500;
}
@media (min-width: 768px) {
    .drawer-list li a {
        text-align: right;
        padding: .5rem;
    }
}
@media (max-width: 500px) {
    .drawer-list {
        width: 70vw;
    }
    .drawer-list li a {
        font-size: calc(20px - .5vw);
    }
    .dropdown input + ul li a {
        font-size: calc(17px - .5vw);
    }
}
.drawer-list li a:hover {
    cursor: pointer;
    background-color: #24a8c0;
    background-color: rgba(36, 168, 192, 0.5);
}

input.hamburger {
    display: none;
}
input.hamburger:checked ~ .drawer-list {
    transform: translatex(0);
    border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
    transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
    transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
    transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
    transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
    transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
    transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
    transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
    transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
    transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
    transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
    transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
    transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
    transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
    transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
    transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
    transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
    transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
    transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
    transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
    transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
    transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
    transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
    transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
    transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
    transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
    transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
    transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
    transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
    transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
    transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
    transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
    transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
    transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
    transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
    transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
    transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
    transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
    transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
    transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
    transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
    transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
    transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
    transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
    transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
    transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
    transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
    transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
    transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
    transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
    transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
    transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
    padding-right: 15px;
}
input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
    transform: translate(-50%, -50%) rotate(315deg);
    top: 0px;
}
input.hamburger:checked ~ label > i:after {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 0px;
}
input.hamburger:checked ~ label close {
    color: #FEFEFE;
    width: 100%;
}
input.hamburger:checked ~ label open {
    color: transparent;
    width: 0;
}

label.hamburger {
    z-index: 9999;
    position: relative;
    display: block;
    height: 40px;
    width: 50px;
}
label.hamburger:hover {
    cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
    color: transparent;
    width: 0;
    left: 0;
}
label.hamburger text open {
    color: #FEFEFE;
    width: 100%;
    left: 0;
}
label.hamburger > i {
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    top: 50%;
    background-color: #FEFEFE;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 50%;
    background-color: #FEFEFE;
    content: "";
    transition: transform 0.35s;
    transform-origin: 50% 50%;
    top: 4px;
}
label.hamburger > i:before {
    transform: translate(-50%, -14px);
}
label.hamburger > i:after {
    transform: translate(-50%, 14px);
    top: -4px;
}
label.hamburger {
    position: fixed;
    top: 2.5rem;
    right: .1rem;
    background: #2E9FBB;
    padding: 10px;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s;
    border:1px solid #fff;
}
.mobile__menu{
	.menu-icon{
		.menu-logo{
			img{
				background-color: #2E9FBB;
				padding: 1.4rem .5rem;
			}
		}
	}
}

@media only screen and (min-width: 1024px){
	.mobile__menu{
		display: none;
	}
}
.drawer-list{
	.open-menu-mobile{
		.open-menu__block{
			li{
				list-style-type: decimal-leading-zero;
				a{
					font-size: 	12px;
				}
			}
		}
	}
}

/* cabinet */
.cabinet{
	padding-top:9rem;
	padding-bottom: 6rem;
	.cabinet-tab{
		padding: 2rem 0;
		display: flex;
		align-items: center;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		li{
			a{
				font-size: 	18px;
				font-weight: 700;
			}
			.cabinet-active-tab{
				border-bottom: 1px dashed #007BFF;
			}
		}
	}
	.wrapper-card-user{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		padding: 3rem;
		.wrapper-card-user-title{
			font-size: 20px;
			text-align: center;
			text-decoration: underline;
			font-weight: 700;
			padding-bottom: 1rem;
		}
		.form-cabinet{
			margin-top: 1rem;
			a{
				color: #25A0BF;
				i{
					color: #25A0BF;
				}
			}
			input{
				margin-top: 1rem;
			}
			.save-btn{
				background-color: #2B9FBD;
				color: #fff;
				border:1px solid #2B9FBD;
				width: 100%;
				margin-top:1rem;
			}
			.save-btn:hover{
				background-color: #fff;
				color: #2B9FBD;
			}
		}
	}
	.wrapper-card-order{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		padding: 1rem;
		.wrapper-card-order-title{
			font-size: 20px;
			text-align: center;
			text-decoration: underline;
			font-weight: 700;
			padding-bottom: 1rem;
		}
	}
	.wrapper-info{
		display: none;
	}
	.wrapper-cabinet-active{
		display: block;
	}
}
/* end cabinet */